from typing import Optional, Type

from localstack.services.cloudformation.resource_provider import CloudFormationResourceProviderPlugin, ResourceProvider

class {{ resource }}ProviderPlugin(CloudFormationResourceProviderPlugin):
    name = "{{ name }}"

    def __init__(self):
        self.factory: Optional[Type[ResourceProvider]] = None

    def load(self):
        from localstack.services.{{ service }}.resource_providers.aws_{{ service }}_{{ lower_resource }} import {{ resource }}Provider

        self.factory = {{ resource }}Provider
