from pathlib import Path

import pytest


RESOURCE_GETATT_TARGETS = {{ getatt_targets }}

class TestAttributeAccess:
    @pytest.mark.parametrize("attribute", RESOURCE_GETATT_TARGETS)
    @pytest.mark.xfail(reason="TODO")
    def test_getattr(deploy_cfn_template, attribute, snapshot):
        """
        Capture the behaviour of getting all available attributes of the model
        """
