# flake8: noqa
"""
You should not add your own tests here. If you want to do additional checks, put them into `{{ parity_test_filename }}`.

The tests here are meant as the most basic common test skeleton for a minimal resource provider implementation.
"""
import os

import pytest

from localstack.aws.connect import ServiceLevelClientFactory
from localstack.testing.aws.util import is_aws_cloud
from localstack.testing.pytest.fixtures import StackDeployError
from localstack.utils.strings import short_uid

pytestmark = [pytest.mark.skip(reason="in progress")]


class TestBasic:
    def test_lifecycle(
        self,
        aws_client,
        snapshot,
    ):

        # aws_client.cloudcontrol.create_resource()
        # create
        # read
        # list
        # update
        # delete
        ...
