.git
.venv*
localstack/dashboard/web/node_modules/
localstack/infra/
!localstack/infra/stepfunctions
!localstack/infra/localstack-*.jar
localstack/node_modules/
tests/integration/serverless/node_modules/

# ignore files generated in CI build (e.g., large Docker image .tar file)
target/
