*.pyc
*.pyo
*.class
*.log
*.iml

/infra/
localstack/infra/
localstack/ext/java/.factorypath

/node_modules/
package-lock.json
/nosetests.xml

/.venv*
/.coverage
.settings/
.project
.classpath
.DS_Store
*.egg-info/
.eggs/
*.sw*
~*
*~

node_modules/
/build/
/dist/
/target/

.idea
.vscode

**/obj/**
**/bin/**
**/lib/**

!bin/docker-entrypoint.sh

requirements.copy.txt
