*.pyc
*.pyo
*.class
*.log
/infra/
/node_modules/
package-lock.json
/nosetests.xml
/.venv*
.settings/
.project
.classpath
/.coverage
node_modules/
localstack/infra/
.DS_Store
/build/
/dist/
*.egg-info/
.eggs/
/target/
*.sw*
~*
*~
