*.pyc
*.pyo
*.class
*.log
*.iml
.coverage.*
htmlcov

.cache
.filesystem
/infra/
localstack/infra/

/node_modules/
package-lock.json
/nosetests.xml

.env
venv
/.venv*
/.coverage
.settings/
.project
.classpath
.DS_Store
*.egg-info/
.eggs/
.vagrant/
*.sw*
~*
*~

node_modules/
/build/
/dist/
/target/

.idea
.vscode

**/obj/**
**/lib/**

!bin/docker-entrypoint.sh

requirements.copy.txt
.serverless/

**/.terraform/*
*.tfstate
*.tfstate.*
*tfplan
*.terraform.lock.hcl

.python-version

venv
api_states

/integration/lambdas/golang/handler.zip
/tests/integration/lambdas/golang/handler.zip
tmp/

volume/

# ANTLR4 ID plugin.
gen/
