######################
###  CODE OWNERS   ###
######################

# CODEOWNERS
/CODEOWNERS @thrau @dominikschubert @alexrashed

# README / Docs
/docs/ @thrau @HarshCasper
/README.md @HarshCasper
/CODE_OF_CONDUCT.md @HarshCasper
/LICENSE.txt @HarshCasper @alexrashed

# Docker
/bin/docker-entrypoint.sh @thrau @alexrashed
/.dockerignore @alexrashed
/Dockerfile @alexrashed

# Git, Pipelines, GitHub config
/.circleci @alexrashed @dfangl @dominikschubert @silv-io @k-a-il
/.github @alexrashed @dfangl @dominikschubert @silv-io @k-a-il
/.test_durations @alexrashed
/.git-blame-ignore-revs @alexrashed @thrau
/bin/release-dev.sh @thrau @alexrashed
/bin/release-helper.sh @thrau @alexrashed

# ASF
/localstack-core/localstack/aws/ @thrau
/tests/unit/aws/ @thrau
# ASF parsers and serializers
/localstack-core/localstack/aws/protocol @alexrashed
# left empty (without owner) because the generated APIs belong to the specific service owners
# you can overwrite this for single services afterwards
/localstack-core/localstack/aws/api/

# CLI
/localstack-core/localstack/cli/ @thrau @alexrashed
/tests/unit/cli/ @thrau @alexrashed
/tests/cli/ @thrau @alexrashed

# Plugins
/localstack-core/localstack/plugins.py @thrau
/localstack-core/localstack/config.py @thrau
/tests/unit/services/test_internal.py @thrau

# Extensions
/localstack-core/localstack/extensions/ @thrau

# Container utils
/localstack-core/localstack/utils/container_utils/ @dfangl @dominikschubert
/localstack-core/localstack/utils/docker_utils.py @dfangl @dominikschubert
/tests/unit/test_docker_utils.py @dfangl @dominikschubert
/tests/unit/test_dockerclient.py @dfangl @dominikschubert

# Package Installers
/localstack-core/localstack/packages/ @alexrashed
/localstack-core/localstack/services/kinesis/packages.py @alexrashed

# DNS server
/localstack-core/localstack/dns @simonrw @dfangl

# HTTP framework
/localstack-core/localstack/http/ @thrau
/tests/unit/http_/ @thrau

# Runtime
/localstack-core/localstack/runtime/ @thrau

# Logging
/localstack-core/localstack/logging/ @dfangl @alexrashed @dominikschubert

# Stores
/localstack-core/localstack/services/stores.py @viren-nadkarni
/tests/unit/test_stores.py @viren-nadkarni

# Analytics client
/localstack-core/localstack/utils/analytics/ @thrau
/tests/unit/utils/analytics/ @thrau

# Snapshot testing
/localstack-core/localstack/testing/snapshots/ @dominikschubert @steffyP
/localstack-core/localstack/testing/pytest/ @dominikschubert

# Scenario testing
/localstack-core/localstack/testing/scenario/ @dominikschubert @steffyP

# Bootstrap tests
/tests/bootstrap @simonrw
/localstack-core/localstack/testing/pytest/container.py @dominikschubert @simonrw

# Test Selection
/localstack-core/localstack/testing/testselection @dominikschubert @alexrashed @silv-io

######################
### SERVICE OWNERS ###
######################
# DO NOT modify anything below!
# Everything below is _autogenerated_ and any manual changes will be overwritten.


# acm
/localstack-core/localstack/aws/api/acm/ @alexrashed
/localstack-core/localstack/services/acm/ @alexrashed
/tests/aws/services/acm/ @alexrashed

# apigateway
/localstack-core/localstack/aws/api/apigateway/ @bentsku @cloutierMat
/localstack-core/localstack/services/apigateway/ @bentsku @cloutierMat
/tests/aws/services/apigateway/ @bentsku @cloutierMat
/tests/unit/services/apigateway/ @bentsku @cloutierMat

# cloudcontrol
/localstack-core/localstack/aws/api/cloudcontrol/ @simonrw
/tests/aws/services/cloudcontrol/ @simonrw

# cloudformation
/localstack-core/localstack/aws/api/cloudformation/ @dominikschubert @pinzon @simonrw
/localstack-core/localstack/services/cloudformation/ @dominikschubert @pinzon @simonrw
/tests/aws/services/cloudformation/ @dominikschubert @pinzon @simonrw
/tests/unit/services/cloudformation/ @dominikschubert @pinzon @simonrw

# cloudwatch
/localstack-core/localstack/aws/api/cloudwatch/ @pinzon @steffyP
/localstack-core/localstack/services/cloudwatch/ @pinzon @steffyP
/tests/aws/services/cloudwatch/ @pinzon @steffyP
/tests/unit/services/cloudwatch/ @pinzon @steffyP

# dynamodb
/localstack-core/localstack/aws/api/dynamodb/ @viren-nadkarni @giograno
/localstack-core/localstack/services/dynamodb/ @viren-nadkarni @giograno
/tests/aws/services/dynamodb/ @viren-nadkarni @giograno
/tests/unit/services/dynamodb/ @viren-nadkarni @giograno

# ec2
/localstack-core/localstack/aws/api/ec2/ @viren-nadkarni @macnev2013
/localstack-core/localstack/services/ec2/ @viren-nadkarni @macnev2013
/tests/aws/services/ec2/ @viren-nadkarni @macnev2013

# ecr
/localstack-core/localstack/services/ecr/ @dfangl

# es
/localstack-core/localstack/aws/api/es/ @alexrashed @silv-io
/localstack-core/localstack/services/es/ @alexrashed @silv-io
/tests/aws/services/es/ @alexrashed @silv-io

# events
/localstack-core/localstack/aws/api/events/ @maxhoheiser @bentsku
/localstack-core/localstack/services/events/ @maxhoheiser @bentsku
/tests/aws/services/events/ @maxhoheiser @bentsku
/tests/unit/services/events/ @maxhoheiser @bentsku

# firehose
/localstack-core/localstack/aws/api/firehose/ @pinzon
/localstack-core/localstack/services/firehose/ @pinzon
/tests/aws/services/firehose/ @pinzon

# iam
/localstack-core/localstack/aws/api/iam/ @dfangl @pinzon
/localstack-core/localstack/services/iam/ @dfangl @pinzon
/tests/aws/services/iam/ @dfangl @pinzon

# kms
/localstack-core/localstack/aws/api/kms/ @sannya-singal
/localstack-core/localstack/services/kms/ @sannya-singal
/tests/aws/services/kms/ @sannya-singal
/tests/unit/services/kms/ @sannya-singal

# lambda
/localstack-core/localstack/aws/api/lambda_/ @joe4dev @dominikschubert @dfangl @gregfurman
/localstack-core/localstack/services/lambda_/ @joe4dev @dominikschubert @dfangl @gregfurman
/tests/aws/services/lambda_/ @joe4dev @dominikschubert @dfangl @gregfurman
/tests/unit/services/lambda_/ @joe4dev @dominikschubert @dfangl @gregfurman

# logs
/localstack-core/localstack/aws/api/logs/ @pinzon @steffyP
/localstack-core/localstack/services/logs/ @pinzon @steffyP
/tests/aws/services/logs/ @pinzon @steffyP
/tests/unit/services/logs/ @pinzon @steffyP

# opensearch
/localstack-core/localstack/aws/api/opensearch/ @alexrashed @silv-io
/localstack-core/localstack/services/opensearch/ @alexrashed @silv-io
/tests/aws/services/opensearch/ @alexrashed @silv-io
/tests/unit/services/opensearch/ @alexrashed @silv-io

# pipes
/localstack-core/localstack/aws/api/pipes/ @tiurin @gregfurman @joe4dev

# route53
/localstack-core/localstack/aws/api/route53/ @giograno
/localstack-core/localstack/services/route53/ @giograno
/tests/aws/services/route53/ @giograno

# route53resolver
/localstack-core/localstack/aws/api/route53resolver/ @macnev2013 @sannya-singal
/localstack-core/localstack/services/route53resolver/ @macnev2013 @sannya-singal
/tests/aws/services/route53resolver/ @macnev2013 @sannya-singal

# s3
/localstack-core/localstack/aws/api/s3/ @bentsku
/localstack-core/localstack/services/s3/ @bentsku
/tests/aws/services/s3/ @bentsku
/tests/unit/services/s3/ @bentsku

# s3control
/localstack-core/localstack/aws/api/s3control/ @bentsku
/localstack-core/localstack/services/s3control/ @bentsku
/tests/aws/services/s3control/ @bentsku

# secretsmanager
/localstack-core/localstack/aws/api/secretsmanager/ @dominikschubert @macnev2013 @MEPalma
/localstack-core/localstack/services/secretsmanager/ @dominikschubert @macnev2013 @MEPalma
/tests/aws/services/secretsmanager/ @dominikschubert @macnev2013 @MEPalma

# ses
/localstack-core/localstack/aws/api/ses/ @viren-nadkarni
/localstack-core/localstack/services/ses/ @viren-nadkarni
/tests/aws/services/ses/ @viren-nadkarni

# sns
/localstack-core/localstack/aws/api/sns/ @bentsku @baermat
/localstack-core/localstack/services/sns/ @bentsku @baermat
/tests/aws/services/sns/ @bentsku @baermat
/tests/unit/services/sns/ @bentsku @baermat

# sqs
/localstack-core/localstack/aws/api/sqs/ @thrau @baermat @gregfurman
/localstack-core/localstack/services/sqs/ @thrau @baermat @gregfurman
/tests/aws/services/sqs/ @thrau @baermat @gregfurman
/tests/unit/services/sqs/ @thrau @baermat @gregfurman

# ssm
/localstack-core/localstack/aws/api/ssm/ @dominikschubert
/localstack-core/localstack/services/ssm/ @dominikschubert
/tests/aws/services/ssm/ @dominikschubert

# stepfunctions
/localstack-core/localstack/aws/api/stepfunctions/ @MEPalma @joe4dev @gregfurman
/localstack-core/localstack/services/stepfunctions/ @MEPalma @joe4dev @gregfurman
/tests/aws/services/stepfunctions/ @MEPalma @joe4dev @gregfurman
/tests/unit/services/stepfunctions/ @MEPalma @joe4dev @gregfurman

# sts
/localstack-core/localstack/aws/api/sts/ @pinzon @dfangl
/localstack-core/localstack/services/sts/ @pinzon @dfangl
/tests/aws/services/sts/ @pinzon @dfangl

# transcribe
/localstack-core/localstack/aws/api/transcribe/ @sannya-singal
/localstack-core/localstack/services/transcribe/ @sannya-singal
/tests/aws/services/transcribe/ @sannya-singal
