exclude tests/**
exclude .test_durations
include Makefile
include LICENSE.txt
recursive-include localstack-core/localstack/utils/kinesis *.java
recursive-include localstack-core/localstack/utils/kinesis *.py
