include Makefile
include LICENSE.txt
include VERSION
recursive-include localstack/ext *.java
recursive-include localstack/ext pom.xml
recursive-include localstack/utils/kinesis *.java
recursive-include localstack/utils/kinesis *.py
