# Lines annotated with "#extended-lib" are excluded
# from the dependencies when we build the pip package

airspeed==0.5.5.dev20160812
amazon-kclpy==1.4.5 #extended-lib
awscli==1.11.86
boto==2.46.1
boto3==1.4.4
coverage==4.0.3
docopt==0.6.2
elasticsearch==5.3.0
flask==0.10.1
flask-cors==3.0.3
flask_swagger==0.2.12
jsonpath-rw==1.4.0
localstack-ext
moto-ext==1.0.1.7
nose==1.3.7
pep8==1.7.0
psutil==5.2.0
pyOpenSSL==17.0.0
python-coveralls==2.7.0
pyYAML==3.12
requests==2.11.0
requests-aws4auth==0.9
six==1.10.0
subprocess32-ext==3.2.8.2
xmltodict==0.10.2
